# Ignore batch files
*.bat

# Ignore Anaconda projects folder
anaconda_projects/

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

#Ignore commands for accessing the ssh agent
Github/thakurajinkya007.txt
